In [1]:
def test(a,b):
    """"this is my function for concatination or  addition"""
    return a+b

In [2]:
test(1,2)

3

In [3]:
test("liki","sagar")

'likisagar'

In [4]:
test(a=1,b=2)

3

In [5]:
test(b=2,a=1)

3

In [6]:
print()

In [7]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [8]:
test1(3,4,5,7,8,6)

TypeError: test1() takes 5 positional arguments but 6 were given

In [ ]:
def test3(*a):
    return a

In [ ]:
test3(34,35,56)

In [ ]:
test3("a",3,4,5,5,6,7,7)

In [ ]:
def test4(*args):
    return args

In [ ]:
##args is not any keyword

In [ ]:
test4("liki",[1,2,34,5],73839,{"li":2})

In [ ]:
def test5(*a):
    ls=[]
    for i in a:
        ls.append(i)
    return ls

In [ ]:
test5(2,3,4,5,[3,4,55,6])

In [ ]:
def test6(a,b,c,d,*m):
    return a,b,c,d,m

In [ ]:
test6(3,4,5,6,7,8,9)

In [ ]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [ ]:
test7(1,2,3,4,5,5,6,6,7)

In [ ]:
test7(4,5,6,5,4,35,75,a=6,b=66,c=5,d=3,e=3)

In [ ]:
def test8(**liki):
    return liki

In [ ]:
test8(4,5,6,7)

In [ ]:
test8(b=4,c=5,d=6,e=7,n=[3,4,5,6,6])

In [ ]:
d={'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [ ]:
test8(d)

In [ ]:
def test9(*m,**s):
    return m,s

In [ ]:
test9(4,4545.4,4154,b=3,f=6,c=10,d=99)

In [ ]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [ ]:
test10(2,3,4,5,56)

In [ ]:
test10(34,34,5)

In [ ]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [ ]:
test11(23,4,5,5)

In [ ]:
test11(12,3)

In [ ]:
n= lambda a,b : a+b

In [ ]:
n(4,5)

In [ ]:
def test12(a,b):
    return a+b

In [ ]:
test12(4,5)

In [ ]:
n(5,6)

In [ ]:
b=lambda *liki : liki

In [ ]:
b(4,5,66,7,6,9)

In [ ]:
t=(2,3,4,4,5,2,1)
l=[]
for i in t:
    l.append(i)

In [ ]:
l

In [ ]:
[i for i in t] ##list comprehension operation

In [ ]:
s="liki"

In [ ]:

[i for i in s]

In [ ]:
[i*i for i in range(10)]

In [ ]:
l=[]
for i in range(10):
    l.append(i*i)

In [ ]:
l

In [ ]:
l =lambda *x :[i for i in x]

In [ ]:
l(1,2,3,43,45,99,6,6,6,)

In [ ]:
l1=lambda *x :[i**2 for i in x]

In [ ]:
l1(1,2,3,45,6)

In [ ]:
test14(a=7,b=4,c="liki",l=[1,2,3,4,"liki"])

In [ ]:
def test14(**kwargs):
    count=0
    print(kwargs)
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
                count+=1
    return count

In [ ]:
test14(a=7,b=4,c="liki",l=[1,2,3,4,"liki"])

In [ ]:
def test15(**kwargs):
    return list(kwargs.values())

In [ ]:
test15(a=7,b="liki",c=345,s="sag",l=[1,2,3,"liki"])

####function task

In [ ]:
## q1 : Try to print a prime number in between 1 to 1000
def test_a(a,b):
    for num in range(a,b):
        count=0
        for i in range(2,((num//2)+1)):
            if num%i==0:
                count+=1
                break
        if count==0 and num!=1:
            print(num, end=" ")

In [ ]:
test_a(1,10)

In [ ]:
for n in range(0,10):
    for i in range(2,(n//2)+1):

In [ ]:
numb= 3
numb//2

In [ ]:
for i in range(2,5):
    print(i)

In [ ]:
range(2,3)

In [ ]:
2//2

In [ ]:
##q2 : Try to write a function which  is equivalent  to 
##             print function in python

def test_b(*b):
    print(*b)

In [ ]:
test_b([1,"m2",3,3,])

In [ ]:
##q3 : Try to write a function which is a replica of list append ,
###              extend and pop function 

def testls(*a):
    ls14=[]
    for i in a:
        ls14.append(i)
    print(ls14)

In [ ]:
testls("likith",1,23,3)

In [ ]:
##q3 extend
def testlsc(**b):
    ls15=[1,2,3,"liki"]
    for i in b:
        ls15.extend(i)
    print(ls15)

In [ ]:
testlsc(("likith"))

In [ ]:
testlsc(("likith",1,2,34))

In [ ]:
##Q3 pop fnc
def lsg(*c):
    ls16=[1,2,3,4,"liki"]
    for i in c:
        ls16.pop(i)
    print(ls16)

In [ ]:
lsg(("liki"))

In [ ]:
##q4 : Try to write a lambda function which can return a concatination 
## of all the string that we will pass
n= lambda a,b: a+b
n(str(input()),str(input()))

In [ ]:
## q5 : Try to write a lambda function 
##     which can return list of square of all the data between 1-100 
l = lambda *a:[i**2 for i in range(1,10)]

In [ ]:
l()

In [ ]:
##q6 : Try to write a 10 Different different example of lambda 
##     function with a choice of your taks

In [9]:
##a1 lambda with if_else
m = lambda a,b : a if (a>b) else b

In [10]:
m(0,100)

100

In [14]:
##a2
lsd=[]
l = lambda *a : [lsd.append(i) for i in a]

In [15]:
l(1,2,3)

[None, None, None]

In [ ]:
##a3 ##multipkle statements

l1=[[2,3,4],[1,4,16,64],[3,6,9,12]]
sortlist = lambda x:(sorted(j) for j in x)
maxnum= lambda a,b:[[max(i)] for i in b(a)]
res= maxnum(l1,sortlist)
print(res)

In [ ]:
l1

In [ ]:
for i in l1:
    print(len(i),max (i))

In [ ]:
##a4 lamda with filter
l2= [4,5,67,32,5,5,6,74,4,5,3,4,6,77,76]
oddlist = list(filter(lambda x: (x%2!=0),l2))
print(oddlist)

In [ ]:

sorted(l2)

In [ ]:
max(l2)

In [ ]:
##a5 ##using filter(2 args )
ages = [12,3,67,17,89,101,56,45,18]
adults= list(filter(lambda age: age >=18,ages))
print(adults)

In [ ]:
##a5
animals=["dog","cat","squrrel","rabbit"]
upper = list(map(lambda animal:animal.upper(),animals))
print(upper)

In [ ]:
##a6 using reduce(2 args) function
import functools
lis = [1,2,3,4,5,6.6,6.6,9]
print(functools.reduce(lambda a,b:a if a>b else b,lis))

In [ ]:
##a7 map() using lamda function
l13=[12,13,14,23,45,67,89,2,22,1,5,8,9,10]
mapf=tuple(map(lambda x : x*2,l13))
print(mapf)

In [16]:
##a8
def myfunc(n):
    ls=[]
    for i in n:
        ls.append(i)
    print(ls)

In [17]:
myfunc((1,2))

[1, 2]

In [18]:
ls=[]
my = lambda *n :[ls.append(i) for i in n]

In [19]:
my("liki")

[None]

In [ ]:
##q7 : Try to write a funtion whihc can perform a read operation from .txt file